* {
    margin: 0.25em;
    padding: 0.25em;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #748772;
    color: #fff;
}

header {
    padding: 1.35em 0;
    text-align: center;
    background-color: rgba(223, 211, 143, 0.9);
    box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.1);
}

.logo {
    height: 64em;
}

/* Barra de Navegação */
nav {
    background-color: #000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #5ed65e;
    border-radius: 0.25em;
    cursor: pointer;
    color: black;
}

.welcome-text {
    flex: 1;
}

.welcome-text p {
    font-size: 1.5em;

    text-align: center;
}

.welcome-image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}

.section {
    display: flex;
    align-items: center;

    margin-left: 1.25em 3.125em;
    flex-direction: row-reverse;
    /* Esta propriedade inverte a ordem dos elementos */
}

.image_esquerda {
    flex: 0 0 70%;
    text-align: center;
    /* Alinha a imagem à direita */
}

.image_esquerda img {
    max-width: 60%;
}

.content_direita {
    max-width: 100%;
    flex: 1;
}

/* Estilo para o título */
.content_direita h2 {
    text-align: center;
    color: red;
}

.content_direita p {
    text-align: justify;
    line-height: 1.5;
    color: #ccc;
}

  input[type="text"],
  input[type="email"],
  button {
    width: 100%;
    max-width:40em;
    height: 3.5em;
    font-size: 16px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    max-width: 40em;
    font-size: 2em;
    box-sizing: border-box;
  }


footer p {
    text-align: center;
    color: rgb(255, 221, 0);
    margin-top: 1.5em;
}

/* Responsividade - em telas pequenas empilha os elementos */
@media (max-width: 768px) {
    .header-container {
        display: flex;
        flex-direction: column;
    }

    nav li {
        margin: 0.5em 0;
    }

    nav a {
        padding: 0.625em 1.25em;
    }

    .welcome-text {
        text-align: center;
        font-size: 1.125em;
    }

    .welcome-image {
        text-align: center;
    }

    .section {
        flex-direction: column;
        /* Em telas pequenas, mantém a ordem natural */
    }

    .image_esquerda {
        flex: 1 1 auto;
        width: 100%;
        text-align: center;
        /* Centraliza a imagem em mobile */
    }
}

@media (max-width: 640px) {
    img {
        max-width: 100%;
    }

    nav ul {
        display: none;
        align-items: center;
    }

    nav li {
        width: 100%;
        text-align: center;
    }

    .section {
        flex-direction: column;
    }

    .content_direita {
        width: 100%;
    }
}
